@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
@keyframes animation_loading_spinner {
  0% {
    opacity: 1;
    left: 0;
  }
  100% {
    opacity: 0;
    left: 100%;
  }
}
@keyframes animation_loading_spinner_circle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animation_menu_card {
  0% {
    opacity: 0;
    bottom: -50px;
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}
@keyframes animation_check_circles {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 245px;
}

* {
  font-family: "Roboto", sans-serif;
}

.typonomdusite {
  font-family: "Shrikhand", cursive;
}

p {
  font-size: 17px;
}

h2 {
  font-size: 25px;
}
@media screen and (min-width: 767px) {
  h2 {
    font-size: 40px;
  }
}

.titre {
  margin: 0 0 30px 20px;
}

.liens {
  text-decoration: none;
}

header .logo {
  height: 63px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 767px) {
  header .logo {
    height: 120px;
  }
}
header .logo__retour {
  border: 0;
  background: none;
  position: absolute;
  color: black;
  justify-content: center;
  line-height: 63px;
  text-align: center;
  font-size: 20px;
  left: 0;
  height: 63px;
  width: 63px;
}
@media screen and (min-width: 767px) {
  header .logo__retour {
    height: 120px;
    width: 80px;
    font-size: 40px;
    line-height: 120px;
  }
}
header .logo__img {
  width: 164px;
}
@media screen and (min-width: 767px) {
  header .logo__img {
    width: 300px;
  }
}

.footer {
  background-color: #353535;
  height: 200px;
  color: white;
  padding: 25px 0 0 0;
}
.footer__list {
  margin: 0 auto 0 25px;
}
.footer .titre {
  margin: 0 auto 25px 0;
}
.footer dd {
  margin: 0 auto 10px 0;
}
.footer i {
  width: 25px;
}
.footer .liens {
  color: white;
}

.button {
  height: 50px;
  padding: 0 20px 0 20px;
  border-radius: 25px;
  border: 0;
  color: white;
  background: #9356DC;
  background: linear-gradient(355deg, #9356DC 0%, #FF79DA 90%);
  box-shadow: 3px 3px 13px 0px rgba(0, 0, 0, 0.25);
  font-size: 15px;
  transition: all 700ms;
}
.button:hover {
  box-shadow: 15px 15px 22px 5px rgba(0, 0, 0, 0.21);
  background: linear-gradient(355deg, #a16be0 0%, #ff93e1 90%);
}

.hearth {
  height: 25px;
  width: 25px;
  position: relative;
  font-size: 25px;
}
.hearth .fa-solid {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(355deg, #FF79DA, #9356DC 90%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  z-index: 2;
  transition: all 200ms;
}
.hearth .fa-regular {
  position: absolute;
  top: 0;
  left: 0;
}
.hearth:hover {
  cursor: pointer;
}
.hearth:hover .fa-solid {
  opacity: 1;
}

.loading_spinner {
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: 3000;
  width: 100%;
  height: 100%;
  background-color: #99E2D0;
  display: flex;
  animation: animation_loading_spinner 1.6s ease-in-out;
  animation-fill-mode: both;
  animation-delay: 4s;
}
.loading_spinner__cercle {
  height: 100px;
  width: 100px;
  margin: auto;
  animation: animation_loading_spinner_circle 1.4s cubic-bezier(0.72, 0.01, 0.3, 0.99) infinite;
}
.loading_spinner__cercle__entier {
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 10px solid rgba(255, 255, 255, 0.4);
  justify-content: center;
  align-items: center;
}
.loading_spinner__cercle__quart {
  position: absolute;
  height: 100px;
  width: 100px;
  border: 10px solid rgba(255, 255, 255, 0);
  border-top-color: rgb(255, 255, 255);
  z-index: 2;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.accueil .liens {
  color: black;
}
.accueil__localisation {
  height: 49px;
  width: 100%;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.17) inset;
}
.accueil__localisation__icon {
  position: relative;
  top: -1px;
  left: -25px;
}
.accueil__localisation__texte {
  font-size: 15px;
  position: relative;
  left: -10px;
}
.accueil__introduction {
  width: 100%;
  padding: 42px 0 50px 0;
  background-color: #f7f7f7;
  text-align: center;
}
.accueil__introduction__titre {
  margin: 0 65px 0 65px;
}
.accueil__introduction__phrase {
  margin: 15px 40px 0 40px;
}
.accueil__introduction__button {
  margin-top: 30px;
}
.accueil__fonctionnement {
  height: 440px;
  width: 100%;
  padding: 50px 0 0 0;
}
@media screen and (min-width: 767px) {
  .accueil__fonctionnement {
    height: initial;
  }
}
@media screen and (min-width: 767px) {
  .accueil__fonctionnement__conteneur {
    display: flex;
    flex-direction: row;
    margin-right: 35px;
  }
}
.accueil .etape {
  height: 74px;
  display: flex;
  flex: 1;
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 20px;
  margin: 0 35px 25px 35px;
  transition: all 400ms;
  box-shadow: 3px 3px 13px 0px rgba(0, 0, 0, 0.21);
}
@media screen and (min-width: 767px) {
  .accueil .etape {
    flex-direction: column;
    height: 83px;
  }
}
.accueil .etape:hover {
  background-color: #e4d5f6;
}
.accueil .etape__num {
  height: 24px;
  width: 24px;
  min-width: 24px;
  line-height: 24px;
  border-radius: 12px;
  color: white;
  text-align: center;
  background-color: #9356DC;
  position: relative;
  left: -12px;
}
@media screen and (min-width: 767px) {
  .accueil .etape__num {
    position: relative;
    left: 0px;
    top: -12px;
  }
}
.accueil .etape__icon {
  color: #7E7E7E;
  margin: auto 20px auto;
}
@media screen and (min-width: 767px) {
  .accueil .etape__icon {
    width: 100%;
    text-align: center;
    margin: 0;
    top: -12px;
  }
}
.accueil .etape__description {
  font-weight: bold;
}
@media screen and (min-width: 767px) {
  .accueil .etape__description {
    margin: 0;
    top: -12px;
  }
}
.accueil__restaurants {
  background-color: #f7f7f7;
  padding: 50px 0 65px 0;
}
.accueil .card {
  height: 250px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: 3px 3px 13px 0px rgba(0, 0, 0, 0.21);
}
.accueil .card__newCard {
  width: 80px;
  margin: 10px 0 0 0;
  height: 30px;
  font-size: 15px;
  background-color: #99E2D0;
  text-align: center;
  line-height: 30px;
  border-radius: 2px;
  position: absolute;
  right: 30px;
  z-index: 2;
  color: #2c9c81;
}
.accueil .card__newCard--hidden {
  display: none;
}
.accueil .card__image {
  height: 174px;
  width: 100%;
  object-fit: cover;
  position: relative;
}
.accueil .card__titre {
  margin: 15px auto 5px 15px;
  font-size: 17px;
  position: relative;
}
.accueil .card__localisation {
  margin: 0 auto auto 15px;
  font-size: 16px;
}
.accueil .card .hearth {
  position: absolute;
  right: 50px;
  margin: 20px 0 0 0;
}

.menu__photo {
  width: 100%;
  object-fit: cover;
  height: 257px;
}
@media screen and (min-width: 767px) {
  .menu__photo {
    height: 300px;
  }
}
.menu__nomDuRestaurant {
  position: relative;
  background-color: white;
  top: -40px;
  border-radius: 40px 40px 0 0;
  padding: 35px 0 0 0;
  display: flex;
  justify-content: space-between;
}
.menu__nomDuRestaurant__titre {
  margin-bottom: 0;
}
.menu__nomDuRestaurant .hearth {
  margin-right: 40px;
}
.menu__entreePlatsDessert {
  margin-bottom: 40px;
}
.menu__entreePlatsDessert__titreTypePlats {
  margin: 0 0 0 20px;
}
.menu__entreePlatsDessert__titreTypePlats:nth-child(1) {
  opacity: 0;
  bottom: -50px;
  animation: animation_menu_card 1s ease-out;
  animation-delay: 200ms;
  animation-fill-mode: both;
}
.menu__entreePlatsDessert__titreTypePlats:nth-child(2) {
  opacity: 0;
  bottom: -50px;
  animation: animation_menu_card 1s ease-out;
  animation-delay: 400ms;
  animation-fill-mode: both;
}
.menu__entreePlatsDessert__titreTypePlats:nth-child(3) {
  opacity: 0;
  bottom: -50px;
  animation: animation_menu_card 1s ease-out;
  animation-delay: 600ms;
  animation-fill-mode: both;
}
.menu__entreePlatsDessert__titreTypePlats:nth-child(4) {
  opacity: 0;
  bottom: -50px;
  animation: animation_menu_card 1s ease-out;
  animation-delay: 800ms;
  animation-fill-mode: both;
}
.menu__entreePlatsDessert__titreTypePlats:nth-child(5) {
  opacity: 0;
  bottom: -50px;
  animation: animation_menu_card 1s ease-out;
  animation-delay: 1000ms;
  animation-fill-mode: both;
}
.menu__entreePlatsDessert__titreTypePlats:nth-child(6) {
  opacity: 0;
  bottom: -50px;
  animation: animation_menu_card 1s ease-out;
  animation-delay: 1200ms;
  animation-fill-mode: both;
}
.menu__entreePlatsDessert__titreTypePlats:nth-child(7) {
  opacity: 0;
  bottom: -50px;
  animation: animation_menu_card 1s ease-out;
  animation-delay: 1400ms;
  animation-fill-mode: both;
}
.menu__entreePlatsDessert__titreTypePlats:nth-child(8) {
  opacity: 0;
  bottom: -50px;
  animation: animation_menu_card 1s ease-out;
  animation-delay: 1600ms;
  animation-fill-mode: both;
}
.menu__entreePlatsDessert__titreTypePlats:nth-child(9) {
  opacity: 0;
  bottom: -50px;
  animation: animation_menu_card 1s ease-out;
  animation-delay: 1800ms;
  animation-fill-mode: both;
}
.menu__entreePlatsDessert__titreTypePlats:nth-child(10) {
  opacity: 0;
  bottom: -50px;
  animation: animation_menu_card 1s ease-out;
  animation-delay: 2000ms;
  animation-fill-mode: both;
}
.menu__entreePlatsDessert__titreTypePlats:nth-child(11) {
  opacity: 0;
  bottom: -50px;
  animation: animation_menu_card 1s ease-out;
  animation-delay: 2200ms;
  animation-fill-mode: both;
}
.menu__entreePlatsDessert__titreTypePlats:nth-child(12) {
  opacity: 0;
  bottom: -50px;
  animation: animation_menu_card 1s ease-out;
  animation-delay: 2400ms;
  animation-fill-mode: both;
}
.menu__entreePlatsDessert__titreTypePlats__titre {
  position: relative;
  margin-bottom: 0;
}
.menu__entreePlatsDessert__titreTypePlats__sousLigne {
  height: 3px;
  width: 40px;
  background-color: #99E2D0;
  margin: 10px 0 15px 0;
}
.menu__entreePlatsDessert .card {
  box-shadow: 3px 3px 13px 0px rgba(0, 0, 0, 0.21);
  height: 70px;
  margin: 0 15px 15px 15px;
  border-radius: 15px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  background-color: #99E2D0;
}
.menu__entreePlatsDessert .card:nth-child(1) {
  opacity: 0;
  bottom: -50px;
  animation: animation_menu_card 1s ease-out;
  animation-delay: 200ms;
  animation-fill-mode: both;
}
.menu__entreePlatsDessert .card:nth-child(2) {
  opacity: 0;
  bottom: -50px;
  animation: animation_menu_card 1s ease-out;
  animation-delay: 400ms;
  animation-fill-mode: both;
}
.menu__entreePlatsDessert .card:nth-child(3) {
  opacity: 0;
  bottom: -50px;
  animation: animation_menu_card 1s ease-out;
  animation-delay: 600ms;
  animation-fill-mode: both;
}
.menu__entreePlatsDessert .card:nth-child(4) {
  opacity: 0;
  bottom: -50px;
  animation: animation_menu_card 1s ease-out;
  animation-delay: 800ms;
  animation-fill-mode: both;
}
.menu__entreePlatsDessert .card:nth-child(5) {
  opacity: 0;
  bottom: -50px;
  animation: animation_menu_card 1s ease-out;
  animation-delay: 1000ms;
  animation-fill-mode: both;
}
.menu__entreePlatsDessert .card:nth-child(6) {
  opacity: 0;
  bottom: -50px;
  animation: animation_menu_card 1s ease-out;
  animation-delay: 1200ms;
  animation-fill-mode: both;
}
.menu__entreePlatsDessert .card:nth-child(7) {
  opacity: 0;
  bottom: -50px;
  animation: animation_menu_card 1s ease-out;
  animation-delay: 1400ms;
  animation-fill-mode: both;
}
.menu__entreePlatsDessert .card:nth-child(8) {
  opacity: 0;
  bottom: -50px;
  animation: animation_menu_card 1s ease-out;
  animation-delay: 1600ms;
  animation-fill-mode: both;
}
.menu__entreePlatsDessert .card:nth-child(9) {
  opacity: 0;
  bottom: -50px;
  animation: animation_menu_card 1s ease-out;
  animation-delay: 1800ms;
  animation-fill-mode: both;
}
.menu__entreePlatsDessert .card:nth-child(10) {
  opacity: 0;
  bottom: -50px;
  animation: animation_menu_card 1s ease-out;
  animation-delay: 2000ms;
  animation-fill-mode: both;
}
.menu__entreePlatsDessert .card:nth-child(11) {
  opacity: 0;
  bottom: -50px;
  animation: animation_menu_card 1s ease-out;
  animation-delay: 2200ms;
  animation-fill-mode: both;
}
.menu__entreePlatsDessert .card:nth-child(12) {
  opacity: 0;
  bottom: -50px;
  animation: animation_menu_card 1s ease-out;
  animation-delay: 2400ms;
  animation-fill-mode: both;
}
.menu__entreePlatsDessert .card__contenu {
  display: block;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding: 0 0 0 10px;
  background-color: white;
  transition: all 700ms ease-out;
}
.menu__entreePlatsDessert .card__contenu__titre {
  width: 100%;
  margin: 10px 0 5px 0;
  font-size: 17px;
  display: inline-block;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
}
.menu__entreePlatsDessert .card__contenu__precision {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 0;
}
.menu__entreePlatsDessert .card__contenu__precision__description {
  display: inline-block;
  text-overflow: ellipsis;
  overflow-x: hidden;
  white-space: nowrap;
  font-size: 15px;
}
.menu__entreePlatsDessert .card__contenu__precision__prix {
  font-size: 16px;
  width: 45px;
  right: 0;
}
.menu__entreePlatsDessert .card__check {
  position: relative;
  width: 0px;
  color: white;
  line-height: 70px;
  transition: all 500ms ease-out;
}
.menu__entreePlatsDessert .card__check .fa-circle-check {
  font-size: 20px;
  position: relative;
  left: 20px;
  margin: auto;
}
.menu__entreePlatsDessert .card:hover {
  cursor: pointer;
}
.menu__entreePlatsDessert .card:hover .card__contenu {
  width: calc(100% - 60px);
}
.menu__entreePlatsDessert .card:hover .card__check {
  width: 60px;
}
.menu__entreePlatsDessert .card:hover .card__check .fa-circle-check {
  animation: animation_check_circles 500ms ease-out;
}
.menu__buttonValidation {
  width: 100%;
  text-align: center;
  margin: 0 0 85px 0;
}
.menu__buttonValidation .button {
  padding: 0 50px 0 50px;
}

/*# sourceMappingURL=style.css.map */
