@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

body {
  width: 375px;
}

* {
  font-family: "Roboto", sans-serif;
}

.nomdusite {
  font-family: "Shrikhand", cursive;
}

p {
  font-size: 17px;
}

h2 {
  font-size: 25px;
}

header .logo {
  height: 63px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logo__img {
  width: 164px;
}

.button {
  height: 50px;
  padding: 0 20px 0 20px;
  border-radius: 25px;
  border: 0;
  color: white;
  background: #9356DC;
  background: linear-gradient(355deg, #9356DC 0%, #FF79DA 90%);
  box-shadow: 3px 3px 13px 0px rgba(0, 0, 0, 0.25);
  font-size: 15px;
  transition: all 700ms;
}
.button:hover {
  box-shadow: 15px 15px 22px 5px rgba(0, 0, 0, 0.21);
  background: linear-gradient(355deg, #a16be0 0%, #ff93e1 90%);
}

.titre {
  margin: 0 0 30px 20px;
}

.localisation {
  height: 49px;
  width: 100%;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.17) inset;
}
.localisation__icon {
  margin: auto 20px auto 28%;
  position: relative;
  top: -1px;
}
.localisation__texte {
  font-size: 15px;
}

.introduction {
  height: 288px;
  width: 100%;
  padding: 42px 0 50px 0;
  background-color: #f7f7f7;
  text-align: center;
}
.introduction__titre {
  margin: 0 65px 0 65px;
}
.introduction__phrase {
  margin: 15px 40px 0 40px;
}
.introduction__button {
  margin-top: 30px;
}

.fonctionnement {
  height: 440px;
  width: 100%;
  padding: 50px 0 0 0;
}

.etape {
  height: 74px;
  width: 322px;
  display: flex;
  align-items: center;
  background-color: #F6F6F6;
  border-radius: 20px;
  margin: 0 auto 25px 35px;
  box-shadow: 3px 3px 13px 0px rgba(0, 0, 0, 0.21);
  transition: all 400ms;
}
.etape:hover {
  background-color: #e4d5f6;
}
.etape__num {
  height: 24px;
  width: 24px;
  line-height: 24px;
  border-radius: 12px;
  color: white;
  text-align: center;
  background-color: #9356DC;
  position: relative;
  left: -12px;
}
.etape__icon {
  color: #7E7E7E;
  margin: auto 20px auto 10px;
}
.etape__description {
  font-weight: bold;
}

.restaurants {
  background-color: #f7f7f7;
  padding: 50px 0 65px 0;
}

.card {
  height: 250px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  box-shadow: 3px 3px 13px 0px rgba(0, 0, 0, 0.21);
}
.card__image {
  height: 174px;
  width: 100%;
  object-fit: cover;
}
.card__titre {
  margin: 15px auto 5px 15px;
  font-size: 17px;
}
.card__localisation {
  margin: 0 auto auto 15px;
  font-size: 16px;
}
.card__hearth {
  height: 25px;
  width: 25px;
  position: relative;
  top: -35px;
  right: -290px;
  font-size: 25px;
}
.card__hearth .like {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: relative;
  z-index: 3;
}
.card__hearth .like:hover {
  cursor: pointer;
}
.card__hearth .like:checked + .fa-solid {
  opacity: 1;
}
.card__hearth .fa-solid {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(355deg, #FF79DA, #9356DC 90%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  z-index: 2;
  transition: all 400ms;
}
.card__hearth .fa-regular {
  position: absolute;
  top: 0;
  left: 0;
}
.card__newCard {
  width: 80px;
  height: 30px;
  font-size: 15px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  position: relative;
  top: -245px;
  right: -245px;
  color: #2c9c81;
}
.card__newCard--hidden {
  display: none;
}

.footer {
  background-color: #353535;
  height: 200px;
  color: white;
  padding: 25px 0 0 0;
}
.footer__list {
  margin: 0 auto 0 25px;
}
.footer .titre {
  margin: 0 auto 25px 0;
}
.footer dd {
  margin: 0 auto 10px 0;
}
.footer i {
  width: 25px;
}
.footer .liens {
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=style.css.map */
