* {
	font-family: 'Roboto', sans-serif;
}

.typonomdusite {
    font-family: 'Shrikhand', cursive;
}

p {
    font-size: 17px;
}

h2 {
    font-size: 25px;
    @include tablette-size {
        font-size: 40px;
    }
}

.titre {
    margin: 0 0 30px 20px;
}

.liens {
    text-decoration: none;
}