.menu {

    @include animation-apparition-with-delay;

    &__photo {
        width: 100%;
        object-fit: cover;
    }

    &__nomDuRestaurant {
        position: relative;
        background-color: white;
        top: -40px;
        border-radius: 40px 40px 0 0;
        padding: 35px 0 0 0;
        display: flex;
        justify-content: space-between;

        &__titre {
            margin-bottom: 0;
        }

        .hearth {
            margin-right: 40px;
        }
    }

    &__entreePlatsDessert {
        margin-bottom: 40px;

        &__titre {
            position: relative;
            @include animation-apparition-with-delay;
            text-decoration: underline;
            text-decoration-color: $couleur-tertiaire;
            text-decoration-thickness: 3px;
            text-underline-offset: 10px;
        }

        .card {
            @include ombre;
            height: 70px;
            margin: 0 15px 15px 15px;
            border-radius: 15px;
            display: flex;
            overflow: hidden;
            position: relative;

            &__contenu {
                display: flex;
                justify-content: space-between;
                padding: 0 0 0 10px;
                flex: 1;
                flex-direction: column;

                &__titre {
                    margin: 10px 0 5px 0;
                    font-size: 17px;
                }

                &__precision {
                    display: flex;
                    flex: 1;
                    flex-direction: row;
                    justify-content: space-between;

                    &__description {
                        margin: 0;
                        width: 270px;
                        font-size: 16px;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        transition: all 500ms ease-out;
                    }

                    &__prix {
                        font-size: 16px;
                        margin: 0 20px 0 20px;
                    }
                }
            }

            &__check {
                background-color: $couleur-tertiaire;
                width: 0px;
                color: white;
                line-height: 70px;
                transition: all 500ms ease-out;

                .fa-circle-check {
                    font-size: 20px;
                    position: relative;
                    left: 20px;
                    margin: auto;
                }
            }

            &:hover {
                cursor: pointer;

                .card {

                    &__contenu__precision__description {
                        width: 200px;
                    }

                    &__check {
                        width: 60px;

                        .fa-circle-check {
                            animation: animation_check_circles 500ms ease-out;
                        }
                    }
                }
            }
        }
    }

    &__buttonValidation {
        width: 100%;
        text-align: center;
        margin: 0 0 85px 0;

        .button {
            padding: 0 50px 0 50px;
        }
    }
}