@keyframes animation_loading_spinner {
    0% {opacity: 1; left: 0;}
    100% {opacity: 0; left: 100%;}
}

@keyframes animation_loading_spinner_circle {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@keyframes animation_menu_card {
    0% {opacity: 0; bottom: -50px;}
    100% {opacity: 1; bottom: 0;}
}