@mixin ombre {
    box-shadow: 3px 3px 13px 0px rgba(0,0,0,0.21);
}

@mixin tablette-size {
    @media screen and (min-width: $tablette) {
        @content;
    }
}

@mixin desktop-size {
    @media screen and (min-width: $bureau) {
        @content;
    }
}

@mixin animation-apparition-with-delay {
    @for $i from 1 through 12 {
        &:nth-child(#{$i}) {
            opacity: 0; 
            bottom:  -50px;
            animation: animation_menu_card 1s ease-out;
            animation-delay: #{animation-delay($i)}ms;
            animation-fill-mode: both;
        }
    }
}