$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$degrade: linear-gradient(355deg,$couleur-primaire 0%, $couleur-secondaire 90%);
$gris-clair: #f7f7f7;
$gris: #ebebeb;
$gris-foncer: #353535;